table.standingsTable {
	margin-top: 5px;
	max-width: 500px;
	display: inline-block;
	border-collapse: collapse;
	border: 2px solid black;
	background-color: #bbbbbb;
	font-size: 20px;
	text-align: center;
}

table.standingsTable div {
	vertical-align: middle;
}

table.standingsTable .image {

}

tr.standingsRow {
	border-top: 2px solid black;
}

td.standingsColumnName {
	text-align: left;
	min-width: 300px;
}

td.standingsColumnName>div {
	padding: 1px 10px 1px 1px;
}

td.standingsColumnName>div>div {
	display: inline-block;
}

.standingsColumnNameName {
	margin-left: 3px;
}

.standingsColumnData {
	border-left: 1px solid #888888;
	min-width: 45px;
}

.standingsTableHeader {
	border-bottom: 2px solid black;
	padding: 3px 0;
	font-weight: bold;
}

.standingsTableFooter {
	font-size: 12px;
	border-top: 2px solid black;
	padding: 3px 0;
}

.standingsTableFooter>span {
	margin: 0 7px;
}

sup{
	font-weight: normal;
	vertical-align: top
}

